html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  background-color: #000;
}

.container-main {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

#canvas-main {
  position: absolute;
  width: 100%;
  background-color: white;
}

.ui-game {
  font-family: 'Courier New', Courier, monospace;
  display: block;
  position: relative;
  height: 40px;;
}

#button-pause {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

#ui-hero-hp {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #000;
}
